<div class="page-header">
    <h1>{{title}}</h1>
</div>

<div class="list-group">
    <!-- a class="active" 로 활성화 -->
    <a href="/chatting/room" class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio1
    </a>
    <a href="/chatting/room" class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio2
    </a>
</div>