<div class="page-header">
    <h1>{{title}}</h1>
</div>

<ul class="chattig-messages">
    <li>사람1 : 하하하</li>
    <li>사람2 : 호호호</li>
</ul>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">enter</button>
    </span>
</div>