<div class="page-header">
    <h1>{{title}}</h1>
</div>

<div class="list-group">
    {{#each rooms}}
    <a href="/chatting/room" class="list-group-item">
        <span class="badge">{{ memberCount }}</span>
        {{ roomName }}
    </a>
    {{/each}}
</div>
<form method="post">
    <label for="roomname">Room Name</label>
    <input type="text" class="form-control" id="roomname" name="roomname" placeholder="Room Name">
    <button type="submit" class="btn btn-default">Create Room</button>
</form>